<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aurum.SQL.Tests.Properties.Settings.cnn_server" connectionString="Data Source=(localdb)\v12.0;Integrated Security=True;Pooling=False"/>
        <add name="Aurum.SQL.Tests.Properties.Settings.cnn_db" connectionString="Data Source=(localdb)\v12.0;Integrated Security=True;Pooling=False;Initial Catalog=TestDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
